.button {
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
}

.title {
  font-weight: normal;
  font-size: 3rem;
  margin: 32px 0;
  line-height: 1;
}
